@import "../../../variables.scss";

td,
th {
  border: 1px solid $outline;
  text-align: left;
  padding: 8px;
  overflow: hidden;
}

td.jobDescription {
  opacity: 0.5;
  font-size: 10pt;
}

td.showLineBreaks {
  white-space: pre;
}

td.tags {
  font-size: 0.75rem;
  max-width: 10rem;
}


td.medium {
  max-width: 10rem;
}

td.small {
  width: 5rem;
}

td.italics {
  font-style: italic;
}

td.shadow {
  text-shadow: grey 1px 0 10px;
}


tr:nth-child(even) {
  background-color: $modalBackground;
}

th {
  position: sticky;
  top: 0;

  background-color: $secondary;
  color: white;
}
