textarea {
  width: 95%;
  margin-bottom: 10px;
  min-height: 128px;
}

input {
  width: 95%;
  margin-bottom: 20px;
}

label {
  display: block;
  max-width: 100rem;
  text-align: left;
  margin-left: 12px;
}