@import "../variables.scss";


.mainContainer
{
    display: flex;
    background-color: $background;
    border-radius: 4px;
}

#jobApplicationSection
{
    flex-grow: 2;
}

.linksSection {
    width: 20rem;
    margin: 2rem;
}

@media screen and (max-width: 768px)
{
    .mainContainer
    {
        flex-direction: column;
    }

    #jobApplicationSection
    {
        width: 100%;
    }

    .linksSection
    {
        width: 100%;
        margin: 0.1rem;
    }

    .settings
    {
        width: 100%;
    }
    
}